<div class="landing-grid">

  <header>
    <div class="landing-header">
      <span><h1>Hi, my name is Eric.</h1></span>
    </div>
  </header>

  <article>
    <div class="profile-circle">
      <%= image_tag("profile.png", :alt => "profile picture eric knight") %>
    </div>
  </article>

  <aside>
    <span><h2>I Code Knightly</h2><span>
  </aside>

</div>