<div class="landing-grid">

  <header>
    <div class="landing-header">
        <span><h1>Hi, I'm Eric.</h1></span>
    </div>
  </header>

  <article>
    <div class="profile-circle">
      <%= image_tag("profile.png", :alt => "profile picture eric knight") %>
    </div>
  </article>

  <aside>
    <h2>This is where I Code Knightly.</h2>
  </aside>

</div>