/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*  Navigation menu */

 .nav-items {
    width: 100%;
 }

.nav-items ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    text-align: center;
}

.nav-items ul li {
    display: inline-block;
}

.nav-items ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #444;
}

.nav-items ul li a:hover {
    background-color: #5a00c9;
    color: #fff;
}

/*  Media queries */

/* ^^^Mobile^^^ */

@media (min-width: 300px) and (max-width: 720px) {
  .nav-header .nav-container {
    width: 100%;
  }

  .nav-items ul {
    width: 100%;
    font-weight: normal;
  }

  .nav-items ul li {
    width: 50%;
    float: left;
  }

  .nav-items ul li:nth-of-type(odd) a {
    border-right: 1px solid #ccc;
  }

  .nav-items ul li a {
    padding: 8px 8px;
    border-bottom: 1px solid #ccc;
    display: block;
  }
}

/*  Footer */

.footer {
  text-align: center;
  text-decoration: none;
}

.footer i {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

.footer a {
  text-decoration: none;
  color: #444;
}

.footer a:hover {
  text-decoration: none;
  color: #5a00c9;
}

