h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "dank_monoregular", sans serif;
}

h1 {
  font-size: 250%;
  text-align: center;
}

h2 {
  font-size: 100%;
  text-align: center;
}

.nav {
  width: 100%;
}

.nav-header {
  border-bottom: 1px solid #ccc;
}

.nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  text-align: center;
  font-family: "dank_monoregular";
}

.nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #444;
}

nav ul li a:hover {
  background-color: #888;
  color: #fff;
}

@media (max-width: 48em) {
  .nav-header .container {
    width: 100%;
  }

  .nav ul {
    width: 100%;
    font-weight: normal;
  }

  .nav ul li {
    width: 50%;
    float: left;
  }

  .nav ul li:nth-of-type(even) a {
    border-left: 1px solid #ccc;
  }

  .nav ul li:last-child {
    width: 100%;
    padding-bottom: 20px;
  }

  .nav ul li a {
    padding: 8px 0px;
    border-bottom: 1px solid #ccc;
    display: block;
  }
}

@media only screen and (max-device-width: 480px) {
  h1 {
    font-size: 400%;
  }

  h2 {
    font-size: 200%;
  }

  .nav-header .container {
    width: 100%;
  }

  .nav ul {
    width: 100%;
    font-size: 200%;
    font-weight: normal;
    line-height: 400%;
  }

  .nav ul li {
    width: 50%;
    float: left;
  }

  .nav ul li:nth-of-type(even) a {
    border-left: 1px solid #ccc;
  }

  .nav ul li:last-child {
    width: 100%;
    padding-bottom: 20px;
  }

  .nav ul li a {
    padding: 8px 0px;
    border-bottom: 1px solid #ccc;
    display: block;
  }
}
