// .landing-grid {
//   display: grid;
//   grid-template-columns: auto;
// }

// .landing-header {
//   text-align: center;
// }

// article .profile-circle img {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   border-radius: 100%;
// }

// aside {
//   text-align: center
// }

/*  Media queries */

  @media (min-width: 320px) {
    .landing-grid {
      grid-template-columns: auto;
    }  
    
    .landing-header {
      text-align: center;
    }

    article .profile-circle img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      border-radius: 100%;
    }
    
    aside {
      text-align: center
    }
    
  }



@media only screen and (max-width: 480px) {
  .landing-grid {
    grid-template-columns: auto;
  }  
  
  .landing-header {
    text-align: center;
  }
  
  article .profile-circle img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    border-radius: 100%;
  }
  
  aside {
    text-align: center
  }
  
}


