h1 {
  font-size: 250%;
  text-align: center;
}

h2 {
  font-size: 100%;
  text-align: center;
}

.profile-circle img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}